# Pandas

In [47]:
# importing Pandas
import pandas as pd

### Explain what a CSV file is.

# Answer

### A CSV file is a text file where data is stored in rows, with values separated by commas. It's used to organize data in a simple table format.

### Load the data set "cars_data" through Pandas.

In [48]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

### Print the first 10 rows of the data.

In [49]:
import pandas as pd

# Fullständig sökväg till din CSV-fil
cars = pd.read_csv(r"cara_data.csv")  # Glöm inte 'r' innan sökvägen!

# Visa de första 10 raderna
print(cars.head(10))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

# Answer

### Print the last 5 rows.

# Answer

In [50]:
import pandas as pd

# Fullständig sökväg till din CSV-fil
cars = pd.read_csv(r"cara_data.csv")  # Glöm inte 'r' innan sökvägen!

# Visa de sista 5 raderna
print(cars.head(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

### By using the info method, check how many non-null rows each column have.

# Answer

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

# Answer

In [51]:
import pandas as pd

# Load the dataset from the current directory
cara_data = pd.read_csv("cara_data.csv")

# Drop rows with missing values and apply the operation to the original DataFrame
cara_data.dropna(inplace=True)

# Print the first 10 rows to verify the changes
print(cara_data.head(10))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Calculate the mean of each numeric column.

# Answer

In [53]:
import pandas as pd

# Load the data set
df = pd.read_csv('cara_data.csv')

# Inspect the first few rows and the data types
print(df.head())
print(df.dtypes)

# Convert relevant columns to numeric
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Drop rows with missing values
df.dropna(inplace=True)

# Calculate the mean of each numeric column
mean_valueas = df.mean()

# Print the mean values
print(mean_valueas)

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

TypeError: Could not convert ['alfa-romeroalfa-romeroalfa-romeroaudiaudiaudiaudibmwbmwbmwbmwbmwbmwchevroletchevroletchevroletdodgedodgehondahondahondaisuzujaguarjaguarjaguarmazdamazdamazdamazdamazdamercedes-benzmercedes-benzmercedes-benzmercedes-benzmitsubishimitsubishimitsubishimitsubishinissannissannissannissannissanporscheporschetoyotatoyotatoyotatoyotatoyotatoyotatoyotavolkswagenvolkswagenvolkswagenvolkswagenvolvovolvo'
 'convertibleconvertiblehatchbacksedansedansedanwagonsedansedansedansedansedansedanhatchbackhatchbacksedanhatchbackhatchbackwagonsedansedansedansedansedansedanhatchbackhatchbackhatchbackhatchbacksedansedanwagonsedanhardtophatchbackhatchbacksedansedansedansedansedanwagonsedanhardtopconvertiblehatchbackhatchbackhatchbackwagonwagonwagonwagonsedansedansedansedansedanwagon'
 'dohcdohcohcvohcohcohcohcohcohcohcohcohcohclohcohcohcohcohcohcohcohcdohcdohcohcvohcohcohcrotorohcohcohcohcvohcvohcohcohcohcohcohcohcohcohcvohcfohcfohcohcohcohcohcohcdohcohcohcohcohcohcohc'
 'fourfoursixfourfivefivefivefourfoursixsixsixsixthreefourfourfourfourfourfourfourfoursixsixtwelvefourfourfourtwofourfivefiveeighteightfourfourfourfourfourfourfourfoursixsixsixfourfourfourfourfourfoursixfourfourfourfourfourfour'] to numeric

### Select the rows where the column "company" is equal to 'honda'.

# Answer

In [39]:
# Select the rows where the column "company" is equal to 'honda'
honda_rows = df[df['company'] == 'honda']

# Print the selected rows
print(honda_rows)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

# Answer

In [43]:
import pandas as pd

# Load the data set
df = pd.read_csv('cara_data.csv')

# Drop rows with missing values
df.dropna(inplace=True)

# Sort the DataFrame by price in descending order
sorted_df = df.sort_values(by='price', ascending=False)

# Print the sorted DataFrame
print("Sorted DataFrame by price (descending order):")
print(sorted_df)

Sorted DataFrame by price (descending order):
    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
25     34         jaguar        sedan       113.0   199.6        dohc
45     61        porsche      hardtop        89.5   168.9        ohcf
24     33         jaguar        sedan       113.0   199.6        dohc
10     13            bmw        sedan       103.5   189.0         ohc
33     45  mercedes-benz        wagon       110.0   190.9         ohc
32     44  mercedes-benz        sedan       110.0   190.9         ohc
9      11            bmw        sedan       101.2   176.8         ohc
6       6           audi        wagon       105.8   192.7         ohc
31     43          mazda        sedan       104.9   175.0         ohc
4       4           audi        sedan        99.4   176.6         ohc
8      10            bmw        sedan       101.2   176.8         ohc
2       2    alfa-romero    hatchback        94.5   171.2        ohcv
1       1    alfa-romero  convertible        88.6   168.8        dohc
7       9            bmw        sedan       101.2   176.8         ohc
54     79         toyota        wagon       104.5   187.8        dohc
5       5           audi        sedan        99.8   177.3         ohc
3       3           audi        sedan        99.8   176.6         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
0       0    alfa-romero  convertible        88.6   168.8        dohc
60     88          volvo        wagon       104.3   188.8         ohc
19     28          honda        sedan        96.5   175.4         ohc
59     87          volvo        sedan       104.3   188.8         ohc
30     39          mazda    hatchback        95.3   169.0       rotor
20     29          honda        sedan        96.5   169.1         ohc
58     86     volkswagen        sedan        97.3   171.7         ohc
53     71         toyota        wagon        95.7   169.7         ohc
39     52     mitsubishi        sedan        96.3   172.4         ohc
57     82     volkswagen        sedan        97.3   171.7         ohc
56     81     volkswagen        sedan        97.3   171.7         ohc
52     70         toyota        wagon        95.7   169.7         ohc
55     80     volkswagen        sedan        97.3   171.7         ohc
43     56         nissan        wagon        94.5   170.2         ohc
18     27          honda        wagon        96.5   157.1         ohc
40     53         nissan        sedan        94.5   165.3         ohc
38     51     mitsubishi        sedan        96.3   172.4         ohc
51     69         toyota        wagon        95.7   169.7         ohc
42     55         nissan        sedan        94.5   165.3         ohc
29     38          mazda    hatchback        93.1   159.1         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
41     54         nissan        sedan        94.5   165.3         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
50     68         toyota    hatchback        95.7   158.7         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
49     67         toyota    hatchback        95.7   158.7         ohc
14     17      chevrolet    hatchback        94.5   155.9         ohc
17     20          dodge    hatchback        93.7   157.3         ohc
37     50     mitsubishi    hatchback        93.7   157.3         ohc
28     37          mazda    hatchback        93.1   159.1         ohc
36     49     mitsubishi    hatchback        93.7   157.3         ohc
48     66         toyota    hatchback        95.7   158.7         ohc
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
26           twelve         262               13  36000.0
25              six         176               15  35550.0
45              six         207               17  34028.0
24              six         176               15  32250.0
10              six         182               16  30760.0
33             five         123               22  28248.0
32             five         123               22  25552.0
9               six         121               21  20970.0
6              five         110               19  18920.0
31             four          72               31  18344.0
4              five         115               18  17450.0
8              four         101               23  16925.0
2               six         154               19  16500.0
1              four         111               21  16500.0
7              four         101               23  16430.0
54              six         156               19  15750.0
5              five         110               19  15250.0
3              four         102               24  13950.0
44              six         152               19  13499.0
0              four         111               21  13495.0
60             four         114               23  13415.0
19             four         101               24  12945.0
59             four         114               23  12940.0
30              two         101               17  11845.0
20             four         100               25  10345.0
58             four         100               26   9995.0
53             four          62               27   8778.0
39             four          88               25   8189.0
57             four          52               37   7995.0
56             four          85               27   7975.0
52             four          62               27   7898.0
55             four          52               37   7775.0
43             four          69               31   7349.0
18             four          76               30   7295.0
40             four          55               45   7099.0
38             four          88               25   6989.0
51             four          62               31   6918.0
42             four          69               31   6849.0
29             four          68               31   6795.0
21             four          78               24   6785.0
41             four          69               31   6649.0
15             four          70               38   6575.0
50             four          62               31   6488.0
16             four          68               31   6377.0
49             four          62               31   6338.0
14             four          70               38   6295.0
17             four          68               31   6229.0
37             four          68               31   6189.0
28             four          68               31   6095.0
36             four          68               37   5389.0
48             four          62               35   5348.0
27             four          68               30   5195.0
13            three          48               47   5151.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

# Answer

In [44]:
import pandas as pd

# Load the data set
df = pd.read_csv('cara_data.csv')

# Drop rows with missing values
df.dropna(inplace=True)

# Select rows where the company is 'audi', 'bmw', or 'porsche'
selected_companies = df[df['company'].isin(['audi', 'bmw', 'porsche'])]

# Print the selected rows
print("Rows where company is 'audi', 'bmw', or 'porsche':")
print(selected_companies)

Rows where company is 'audi', 'bmw', or 'porsche':
    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0

### Find the number of cars (rows) for each company.

# Answer

In [45]:
import pandas as pd

# Load the data set
df = pd.read_csv('cara_data.csv')

# Drop rows with missing values
df.dropna(inplace=True)

# Find the number of cars for each company
car_counts = df.groupby('company').size()

# Print the car counts for each company
print("Number of cars for each company:")
print(car_counts)

Number of cars for each company:
company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            1
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          2
toyota           7
volkswagen       4
volvo            2
dtype: int64

### Find the maximum price for each company.

# Answer

In [46]:
import pandas as pd

# Load the data set
df = pd.read_csv('cara_data.csv')

# Drop rows with missing values
df.dropna(inplace=True)

# Find the maximum price for each company
max_prices = df.groupby('company')['price'].max()

# Print the maximum prices for each company
print("Maximum price for each company:")
print(max_prices)

Maximum price for each company:
company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64